<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2IKjzl1-ag3h43mi6Jyl1eDIR5f6WSLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>985547576752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mealmatch</string>
	<key>PROJECT_ID</key>
	<string>meal-match-8a863</string>
	<key>STORAGE_BUCKET</key>
	<string>meal-match-8a863.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985547576752:ios:ef6b357d948262304af275</string>
</dict>
</plist>